.home-page-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container{
  padding: 7px;
}

.list-container{
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width:768px){
  .list-container{
     justify-content: flex-start;
  }
}

.home-page-heading {
  font-family: 'Roboto';
  color: #1e293b;
  letter-spacing: 0.6px;
  margin: 0;
  margin-left: 9px;
}

.home-page-description {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #64748b;
  line-height: 1.5;
}

.error-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-image {
  width: 320px;
}

error-name {
  font-family: 'Roboto';
  color: #1e293b;
  letter-spacing: 0.6px;
  margin: 0;
  margin-left: 9px;
}

.error-description {
  font-family: 'Roboto';
  font-size: '13px';
  font-weight: '500';
  color: #475569;
}

.error-button {
  border: solid 1.3px #4656a1;
  background-color: #4656a1;
  color: #ffffff;
  padding: 7px 13px;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}

.loader-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
